*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container{
    width: 400px;
    height: min-content;
    background-color: #8ee3ef;
    border-radius: 12px;
    padding: 15px; 
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 73%;
    font-size: 20px;
    font-weight: 550;
    text-transform: capitalize;
    color: black;
    background-color: aliceblue;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: black;
    text-transform:capitalize;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: aliceblue;
    background-color: black;
}

.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight:600;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description{
    font-size:x-large;
    font-weight: 600;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity , .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 10px;
}

.wind{
    margin-right: 10px;
}

.humidity img{
    width: 20%;
    margin: 5px;
}

.wind i{
    width: 100%;
    margin: 5px;
    font-size: 40px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: black;
}

.location-not-found img{
    width: 80%;
}

